body {
  background-image: url("http://www.hdfondos.eu/preview/get_photo/397228/2048/1152");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  align-self: center;
  align-content: center;
  position:absolute;
  top:40px;
  right:345px;
}
